# ===== Python =====
.venv/
__pycache__/
*.py[cod]
*$py.class

# ===== Node =====
node_modules/
dist/

# ===== Env =====
.env
.env.*
!.env.example

# ===== Docker =====
*.log

# ===== OS =====
.DS_Store

node_modules
frontend/node_modules
.venv
backend/.venv